* {
    color: white;
    font-family: 'Hind', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: black;
}

footer {
    align-items: center;
    background-color: #252525;
    bottom: 0;
    display: flex;
    position: fixed;
    width: 100%;
}

footer p {
    padding-right: 1em;
}

footer .logo {
    width: 4em;
}

footer .separator {
    width: 100%;
}

header {
    background-color: black;
    text-align: center;
}

h2 {
    padding: 0.5em;
}

hr {
    background-color: white;
    border: none;
    height: 0.1em;
}

main {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 1em;
    text-align: center;
}

nav {
    display: inline-block;
}

nav .nav-button {
    display: block;
    padding: 1em;
}

nav .nav-button:not(.nav-mainbutton):hover {
    background-color: white;
    color: black;
}

nav .nav-item {
    display: inline-block;
}

nav .nav-list {
    list-style: none;
}

nav .nav-mainitem {
    position: relative;
    top: 1.55em;
}

nav .nav-mainbutton {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
}

#mainvideo {
    width: 560px;
    height: 315px;
}

@media screen and (max-width: 600px) {
    nav .nav-item {
        width: 100%;
    }

    nav .nav-mainbutton {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    nav .nav-mainitem {
        display: inline-block;
        position: static;
    }

    #mainvideo {
        width: 280px;
        height: 157.5px;
    }
}
