<header>
    <nav>
        <ul class="nav-list">
            <li class="nav-item">
                <a class="nav-button" href="index.html">
                    Inicio
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-button" href="about.html">
                    Acerca de
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-button" href="https://www.youtube.com/channel/UCZlo52iBLnhK2SQPKv2Uzog" target="_blank">
                    <img src="icons/youtube.svg" class="icon">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-button" href="https://www.instagram.com/henico.oficial/" target="_blank">
                    <img src="icons/instagram.svg" class="icon">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-button" href="https://twitter.com/HeNiCO_" target="_blank">
                    <img src="icons/twitter.svg" class="icon">
                </a>
            </li>
        </ul>
    </nav>
</header>
